<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RestCafe</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <form action="" method="post">
            {%csrf_token%}
            {{form.as_p}}
            <button type="submit">ADD</button>

        </form>
    </div>

    <div class="container">
        <table class="table table-striped">
            <tr>
                <td>Categoryname</td>
                <td>Action</td>
            </tr>
            {%for cat in categories%}
            <tr>
                <td>
                    {{cat.category_name}}
                </td>
                <td>
                    <a href="{% url 'category-remove' cat.id %}">remove</a>
                    <a href="{% url 'subcategory-add' cat.id %}">addsubcat</a>
                </td>
            </tr>
            {%endfor%}
        </table>
    </div>
    
</body>
</html>